.acceptBtn {
	position: relative;
	float: right;
	background-image: url("../images/accept.png");
	width: 18px;
	height: 15px;
	cursor: pointer;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.deleteBtn {
	position: relative;
	float: right;
	background-image: url("../images/remove.png");
	width: 19px;
	height: 15px;
	cursor: pointer;
	display: inline-block;
	/* right: 10px; */
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
}
.addBtn {
	position: relative;
	float: right;
	background: none;
	border: none;
	cursor: pointer;
}

.table__cell {
	font-size: 10pt;
}

.table__body .table__row:hover, .table--striped :not(.table__row--heading).table__row:nth-of-type(odd):hover {
	background-color: #ddd;
}

.table__row--heading .table__cell.table__cell--small, .table__cell.table__cell--small {
	-webkit-flex: initial;
	flex: initial;
	width: 80px;
}
.card__content.card__content--body {
	height: 400px;
	overflow: auto;
}
.panel-container {
	height: 450px;
	overflow: auto;
}
rg-pagination {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.drop_down {
	position: relative;
	width: 90%;
	height: 25px;
	border: 0;
	padding: 0;
	margin: 0;
}

.drop_down .drop_down--select {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	border:1px solid #ccc;
	background: white;
}

.drop_down .drop_down--input {
	position:absolute;
	top:2px;
	left:2px;
	width: 90%;
	height:21px;
	border: none;
}
textarea:focus, input:focus{
    outline: none;
}
